:root {
  --primary-color: #0093d5;
  --secondary-color: #49aaff;
}

#buy-usd-rate-up{
  color: green;
}

#buy-usd-rate-down{
  color: red;
}

#sell-usd-rate-up{
  color: green;
}

#sell-usd-rate-down{
  color: red;
}

body {
  background-color: #e9ebf0;
  font-family: Helvetica, Arial;
}

.header{
  background-color: var(--primary-color);
  padding: 1rem;
}

.header h1 {
  color: #fff;
}

.wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.75rem;
}
.wrapper p {
  font-style: italic;
  color: #666;
}

.wrapper label {
  display: block;
  }
.wrapper input {
  padding: 0.2rem 0.4rem;
}
.amount-input {
  margin-bottom: 1rem;
}
.wrapper hr {
  margin: 2rem auto;
}
.wrapper select {
  display: block;
}

.wrapper-div {
  display: flex;
  justify-content: space-between;
  align-items: center; /* optional, to vertically center the text */
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.75rem;
}
.wrapper-div h2 {
  margin: 0;
}

.wrapper-div h3 {
  margin: 0;
  padding: 0 10px;
}
.wrapper-div span{
  margin-left: 1.5rem;
}



.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }


.button-bar {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.custom-button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0;
  border: none;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  margin-right: 0.8rem;
}

.custom-button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.custom-button:last-child {
  margin-right: 0;
}



@media only screen and (min-width: 1400px) {
  .wrapper {
  width: 50%;
  }
  .wrapper input {
  width: 40rem;
  }
  .wrapper-div{
    width: 35%;
  }
}
@media only screen and (max-width: 1399px) and (min-width: 750px) {
  .wrapper {
  width: 75%;
  }
  .wrapper-div{
    width: 60%;
  }
  .wrapper input {
  width: 30rem;
  }

}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}

.nav-link-profile {
  color: #fff;
  text-decoration: none;
  
}
@media screen and (max-width: 768px) {

  .nav-link {
    height: auto;
    display: flex;
    margin-left: 0.2rem;
    font-size: 20px;
  }

  .nav-link a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
.wrapper button{
  background-color: var(--primary-color);
  color: #fff;
  margin-top: 0.8rem;
  margin-right: 0.5rem;
}
.wrapper button:hover{
  background-color: var(--secondary-color);
  color: black;
  margin-top: 0.8rem;
}

.wrapper .custom-button-buy{
  background-color: green;
}
.wrapper .custom-button-buy:hover{
  background-color: rgba(0, 128, 0, 0.342);
}

.wrapper .custom-button-sell{
  background-color: red;
}
.wrapper .custom-button-sell:hover{
  background-color: rgba(255, 0, 0, 0.207);
}